<!DOCTYPE html>
<head>
<title>White Whale Bookstore - A Book Review Site</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<h1>White Whale Bookstore</h1>
	{{{body}}}
    <br>
    <div class="navLinks">
        <a href="/">Home</a><br>
        <a href="/books-new">Add a Book!</a>
    </div>
    <br><br>
    <h3 style="text-align: center">Your session's total page visits: {{pageCount}}</h3>
</body>
</html>